@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: #111111;
  }
  nav{
    display: flex;
     justify-content: space-between;
     align-items: center;
      margin: 0px 200px; 
     padding: 30px 10px;  
    
  }
  
  label.logo{
   font-weight: 600;  
   font-size: 30px;
   color: #E6533C;
  }
  
  nav ul{
     display: flex;
     align-items: center;
     justify-content: center;
      width: 458px;
     height: 38px;  
     padding: 20px; 
     border: 1px solid #ffffff1a;
     border-radius: 20px;
  }
  nav ul li{
   list-style: none;
   margin-right: 50px;
   color: #FFFFFF;
  }
  .btn-primary{
     background-color: #E6533C;
     color: #FFFFFF;
     font-weight: bold;
     padding: 5px 20px;
     border: none;
     border-radius: 50px;
  }
  
  .checkbtn{
   font-size: 30px;
   color: #FFFFFF;
   margin-right: 40px;
   cursor: pointer;
    display: none;    
  }
  #check{
    display: none;  
  } 
  .section-id{
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
  }
   .item-bar{
    display: flex;
   justify-content: center;
   align-items: center;
  
  }  
  
  .header-top{
    position: relative;  
    margin-right: 200px;
    color: #FFFFFF; 
   font-size: 35px;
   padding-left: 10px; 
  }
  .header-one{
    width: 420px;
    height: 280px;
   
  }
  
  .span-id{
    font-size: 100px;
    font-family: 'Miama', sans-serif;                                            
  }
   .title-one{
    width: 520px;
    height: 48px;
    font-size: 16px;
    color: #FFFFFF;
  } 
  
   .card-one{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 150%;
    gap: 10px;
  } 
  .card-me{
     color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 206px;
    height: 96px;
    margin-left: 540px;
     margin-bottom: 530px; 
     position: absolute;
   }
   .card-me h4{
    font-size: 24px;
    width: 116px;
    height: 30px;
   }
   .card-me p{
    font-size: 16px;
    width: 160px;
     height: 20px; 
     
   }
  
    .circle-1{
      height: 30px;
      width: 30px; 
      border:30px solid #E6533C; 
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
  }     
  .play-icon{
    width: 40px;
    height: 40px;
    color: #FFFFFF; 
    position: absolute;
    display: none;
  }
   .card-two{
    color: #FFFFFF;
    background-color: rgba(48, 48, 48, 0.54);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 206px;
    height: 96px; 
    position: absolute; 
    margin-right: 170px;
    margin-top: 60px;
   }
   .card-two h4{
    font-size: 24px;
    width: 68px;
    height: 24px;
   
   }
   .card-two p{
    font-size: 16px;
    width: 108px;
    height: 24px;
  
   }
    .card-three{
     margin-left: 180px;
    }
  
    .btn-prime{
      height: 40px;
     width: 190px; 
     color: #FFFFFF;
     background-color: #E6533C;
     font-size: 18px;
     text-decoration: none;
     border: none;
     padding: 5px 20px;
     border-radius: 30px;
   
   }
   .btn-pride{
    height: 44px;
    width: 160px; 
    color: #FFFFFF;
    background-color: #E6533C;
    font-size: 18px;
    text-decoration: none;
    border: none;
    padding: 5px 20px;
    border-radius: 30px;
    display: none; 
   } 
   .btn-prim{
     width: 190px;
     height: 40px; 
     color: #FFFFFF;
     background-color: #000000;
     font-size: 18px;
     text-decoration: none;
     border: none;
     padding: 5px 20px;
     border-radius: 30px;
    
   } 
   .image-id{ 
    height: 580px;
    width: 350px;
  } 


   /* smaller device  */
 @media screen and (max-width:576px){
    label.logo{
      font-size: 24px; 
       display: block;
      width: 138px;
       height: 43px;
       padding: 10px; 
  
     }
     nav{
       margin-left: 10px; 
     }
    nav ul{
      border: none;
    }
      nav ul li{
       display: none;
       
      }
      .btn-primary{
       display: none;
      } 
  .checkbtn{
        display: block;
        margin-left: 110px;
        font-size: 20px;
      } 
  } 

  @media screen and (max-width:576px){
    .header-one{
         margin-left: 40%; 
        font-size: 35px;
        width: 285px;
        height: 129px;
    }
    .span-id{
        font-size: 38px;
    }
    .title-one{
        margin-left: 40%;
        font-size: 18px;
         width: 274px;
        height: 96px;
        margin-top: 40px;
    }
    .btn-center{
         margin-left: 40%;
         margin-top: 10%;
        width: 350px;
        height: 54px;  
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;  
    }
    .btn-prime{
        display: none;
    }
    .btn-pride{
        display: block;
        width: 140px; 
        height: 40px; 
        font-size: 18px;
    }
    .btn-prim{
        display: block;
       width: 140px;
        height: 40px;  
        font-size: 12px;
        margin-right: 70px;
    }
    .play-icon{
        display: block;
    }
    .item-bar{
        flex-direction: column; 
    }
    .card-one{
       flex-direction: column;
    }

    .card-me{
        margin-right: 247%;
        margin-top: 250%;
        width: 145px;
        height: 74px;  
    }
    .card-me h4{
        font-size: 20px;
        width: 60px;
        height: 30px;
    }
    .card-me p{
        font-size: 10px;
        width: 111px;
        height: 28px;
    }

    .card-two{
        margin-right: 170%;
        margin-top: 230%;
        width: 155px;
        height: 72px;
        gap: 30px;
    }

    .circle-1{
        border:15px solid #E6533C; 
        border-radius: 50%; 
    }
    .play-icon{
        width:15px;
        height: 15px;
        font-size: 14px;
    }

    .card-three h4{
        width: 51px;
        height: 19px;
        font-size: 16px;
        position: relative;
        margin-right: 30px;
    }
    .card-three p{
        width: 90px;
        height: 29px;  
        font-size: 12px;
        position: relative;
        margin-right: 30px;
    }
  .image-id{
    width: 353px;
    height: 588px;
  }

  } 